@font-face { 
  font-family: News Cycle; 
    src: url('../fonts/NewsCycle-Regular.eot'); 
    src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf'); 
} 

html { 
  height: 100%;
}

* { 
  margin: 0;
  padding: 0;
}

article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

body { 
  font: normal .85em arial, sans-serif;
  background: #000000;
  color: #BBB;
  padding-bottom: 40px;
}

p { 
  padding: 0 0 20px 0;
  line-height: 1.5em;
}

img { 
  border: 0;
}

h1, h2, h3, h4, h5, h6 { 
  font: normal 200% 'News Cycle', arial, sans-serif;
  color: #FFF;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
}

h2 { 
  font: normal 170% 'News Cycle', arial, sans-serif;
  color: #FFF;  
  margin: 0;
  padding: 0 0 8px 0;
}

h3 { 
  font: normal 125% 'News Cycle', arial, sans-serif;
}

h4, h5, h6 { 
  margin: 0;
  padding: 0 0 5px 0;
  font: normal 110% arial, sans-serif;
  color: #BBB;
  line-height: 1.5em;
}

h5, h6 { 
  font: italic 95% arial, sans-serif;
  color: #888;
  padding-bottom: 15px;
}

h6 { 
  color: #362C20;
}

a, a:hover { 
  outline: none;
  text-decoration: none;
  color: #38B9E8;
}

a:hover { 
  text-decoration: underline;
  color: #38B9E8;
}

ul { 
  margin: 2px 0 22px 17px;
}

ul li { 
  list-style-type: circle;
  margin: 0 0 0 0; 
  padding: 0 0 4px 5px;
}

ol { 
  margin: 8px 0 22px 20px;
}

ol li { 
  margin: 0 0 11px 0;
}

#main, header, #logo, nav, #site_content, footer { 
  margin-left: auto; 
  margin-right: auto;
}

#main { 
  width: 950px;
  margin: 20px auto 0 auto;
}

header { 
  width: 950px;
  height: 105px;
}

#logo { 
  width: 220px;
  float: left;
  height: 100px;
  background: transparent;
  padding: 0 0 10px 10px;
}

#logo h1 { 
  font: normal 330% 'News Cycle', arial, sans-serif;
  padding: 37px 0 0 17px;
  color: #FFF;
  letter-spacing: -2px;
}

#logo h1 a { 
  color: #999;
  text-decoration: none;
}

#logo h1 a:hover { 
  color: #FFF;
  text-decoration: none;
}

nav { 
  height: 26px;
  width: 720px;
  margin: 1px auto 0 auto;
  float: right;
  padding: 35px 0 0 0;
} 

#site_content { 
  width: 950px;
  overflow: hidden;
  margin: 4px auto 0 auto;
  padding: 0;
  background: #333;
  border-top: 0;
  border-bottom: 0;
} 

#sidebar_container { 
  float: left;
  width: 450px;
  padding: 0;
  height: 450px;
}

#sidebar_container2 {
  float: center;
  width: 450px;
  padding: 0px;
  height: 0px;
}

#content { 
  text-align: justify;
  width: 800px;
  padding: 0 0 5px 30px;
  margin: 0;
  float: left;
}

#content2 { 
  text-align: justify;
  width: 444px;
  padding: 0 0 5px 30px;
  margin: 0;
  float: center;
}

#content ul { 
  margin: 2px 0 5px 0px;
}

#content ul li { 
  list-style-type: none;
  background: url(../images/bullet.png) no-repeat left center;
  margin: 0 0 0 0; 
  padding: 2px 0 2px 28px;
  line-height: 1.5em;
}

footer { 
  width: 950px;
  font: normal 140% 'News Cycle',  arial, sans-serif;
  height: 90px;
  padding: 20px 0 5px 0;
  text-align: center; 
  color: #FFF;
  background: #444;
}

footer p { 
  padding: 0 0 10px 0;
}

footer a, footer a:hover { 
  color: #FFF;
  text-decoration: none;
}

footer a:hover { 
  color: #FFF;
  text-decoration: underline;
}

ul.images {
  list-style:none;
  width:450px;
  height:450px;
  overflow:hidden;
  position:relative;
  margin:0;
  padding:0;
} 

ul.images li {
  position:absolute;
  margin:0;
  padding:0;
  left:0;
  right:0;
}
 
ul.images li.show {
  z-index:500;  
}
 
ul img {
  border:none;  
}

.lavaLampWithImage {
  position: relative;
  height: 25px;
  padding: 15px 5px 15px 0;
  margin: 10px 0 0 0;
  overflow: hidden;
  float: right;
}

.lavaLampWithImage li {
  float: left;
  list-style: none;
}

.lavaLampWithImage li.back {
  background: #444;
  border-radius: 1px 1px 1px 1px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  height: 25px;
  z-index: 8;
  position: absolute;
}

.lavaLampWithImage li a {
  font: normal 130% 'News Cycle', sans-serif;
  text-shadow:1px 1px #000;
  text-decoration: none;
  color: #fff;
  outline: none;
  text-align: center;
  letter-spacing: 0;
  z-index: 10;
  display: block;
  float: left;
  height: 30px;
  padding: 0px 9px 0 9px;
  position: relative;
  overflow: hidden;
  margin: auto 10px;    
}

.lavaLampWithImage li a:hover, .lavaLampWithImage li a:active, .lavaLampWithImage li a:visited {
  border: none;
}