<%= render "shared/header" %>
  <h1>My Hobbies</h1>
  <h2>Music</h2>
  <p></p>
  Music is my all time favorite activity. I started playing the recorder in 3rd grade, which then led me start playing clarinet about a year later. I developed a deep affinity with classical and romantic music.
  I started playing bass on my 14th birthday. I wanted to start playing all the rock and metal I kept hearing on the radio.
  During my time in England, I picked up Alto and Tenor sax so I could play in the big band at school. I eventually majored in clarinet and saxophone performance at Santa Clara University.
  <p></p>
  <h2>Rowing</h2>
  <p></p>
  I started rowing during my first year at Santa Clara University. It turned into an almost unhealthy obession, and the force that kept my brain together during my intense class load.
  <p></p>
  <h2>Ultimate Frisbee</h2>
  <p></p>
  Growing up around Amherst sparked my interest in Ultimate. I thought about playing during my undergrad at SCU, but instead stuck with crew. During grad school, I was able to play with the club team SCAB. I try to play pickup on Saturday and Sunday in Mountain View and Palo Alto, CA.
  <p></p>
  <h2>Reading</h2>
  <p></p>
  Reading has been a regular activity of mine since I was a kid. I am fan of science fiction/fantasy, as well as many other non-fiction books.
  <p></p>
  Currently reading: <a href="http://en.wikipedia.org/wiki/Cat's_Cradle">Cat's Cradle</a> by Kurt Vonnegut, JR.
  <p></p>
<%= render "shared/footer" %>