    </div>
        </form>
      </div>
    </div>
    <footer>
      <p><a href="/">home</a> | <a href="/experience">experience</a> | <a href="/hobbies">hobbies</a> | <a href="/contact">contact</a></p>
      <p>&copy; 2014 James G. Conelly.</a></p>
    </footer>
  </div>
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery.easing.min.js"></script>
  <script type="text/javascript" src="js/jquery.lavalamp.min.js"></script>
  <script type="text/javascript">
    $(function() {
      $("#lava_menu").lavaLamp({
        fx: "backout",
        speed: 800
      });
    });
  </script>
</body>
</html>
